<h1>Show Admin</h1>

<ul>

  <li>
    <strong>Account:</strong>
    <%= @admin.account %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_path(@conn, :edit, @admin) %></span>
<span><%= link "Back", to: Routes.admin_path(@conn, :list) %></span>
